/* ===== MAPS ========= */
.maps{
    background: url('../../assets/images/manifattura_maps.png');
    background-size: cover;
    height: 350px;
}

/* ===== PARTNERS ======= */
.partners{
    background: var(--color-grigio-caldo);
    text-align: center;
    padding: 60px 40px;
    border-bottom: 1.5px solid var(--color-oro);
}

.partners-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.partner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partner-image{
    display: flex;
    align-items: center;
    margin-top: 30px;
    height: 60px;
}

.logo-partner{
    width: 120px;
}

.logo-2{
    width: 80px;
    margin-left: 40px;
}

.logo-3{
    width: 100px;
}

.logo-4{
    width: 60px;
}

/* ===== POLICIES ======= */
.policies{
    display: flex;
    justify-content: space-around;
    padding: var(--padding-medium) 50px;
    background: var(--color-grigio-caldo);
}

.barra-verticale{
    height: 20px;
    width: 1px;
    background: var(--color-nero);
}

.policy a{
    text-decoration: none;
    color: var(--color-nero);
}


/* ===== MEDIA QUERIES ====== */
/* @media screen and (max-width: 1200px) {
} */

@media screen and (max-width: 1050px) {
    /* ===== MAPS ======= */
    .maps{
        background-position: center;
    }
    /* ===== POLICIES ======= */
    .policies{
        justify-content: space-between;
        padding: var(--padding-medium) 30px;
    }
}

@media screen and (max-width: 892px) {
    /* ===== MAPS ======= */
    .maps{
        height: 320px;
        background-repeat: no-repeat;
    }
    /* ===== PARTNERS ====== */
    .partners{
        padding: 60px 20px;
    }
    .partners-container{
        justify-content: space-between;
    }
    /* ===== POLICIES ======= */
    .policies{
        padding: 15px;
    }
    .policies a{
        font-size: 13px;
    }
}

@media screen and (max-width: 750px) {
    /* ======= MAPS ====== */
    .maps{
        background-position: 75% 25%;
    }
    /* ===== PARTNERS ====== */
    .partners{
        padding: 40px;
    }
    .partners-container{
        flex-direction: column;
        justify-content: center;
    }
    .partners-container > *:not(:last-child){
        margin-bottom: 50px;
    }
    .partner-image{
        margin-top: 15px;
    }
    /* ===== POLICIES ======= */
    .policies{
        padding: 30px;
        padding-bottom: 85px;
        flex-direction: column;
        align-items: center;
    }
    .policies > *:not(:last-child){
        margin-bottom: 15px;
    }
    .policies a{
        font-size: 15px;
    }
    .barra-verticale{
        display: none;
    }
}

/* @media screen and (max-width: 650px) {
} */

@media screen and (max-width: 500px) {
    /* ===== MAPS ===== */
    .maps{
        background-position: 70% 20%;
    }
}

@media screen and (max-width: 369px) {
    /* ===== MAPS ===== */
    .maps{
        height: 350px;
        background-position: 65%;
    }
    /* ===== POLICIES ======= */
    .policies{
        padding: 20px;
        padding-bottom: 78px;
        flex-direction: column;
        align-items: center;
    }
    .policies > *:not(:last-child){
        margin-bottom: 8px;
    }
    .policies a{
        font-size: 14px;
    }
}